# R Environment Variables
.Renviron
.Rproj.user

# History files
.Rhistory
.Rapp.history
.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Source file extensions
*.o
*.so
*.dll

#vignettes
inst/doc
/doc/
/Meta/

# IDE specific files
*.vscode

# produced vignettes and libraries
*.html
*.pdf
*/libs/
